# Java template
*.class

# Package Files #
#*.jar
*.war
*.ear

# Gradle
.gradle
build/
!gradle-wrapper.jar


# JetBrains
.idea/*
!/.idea/runConfigurations/
!/.idea/dictionaries/

sources/common/src/gen/

gradle.properties

work/

assets/keys/

.DS_Store

# **/gen/
.idea/
